<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Main css -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/logstyle.css') }}">
</head>
<!--div class="masthead" style="background-image: url('{{ url_for('static',filename='assets/img/signup-bg.jpg') }}')"-->
<body>
    <center>
    <div style="background-image: url('{{ url_for('static',filename='assets/img/signup-bg.jpg') }}')">
    <div class="main">

            <!--img src="{{url_for('static',filename='assets/img/signup-bg.jpg')}}" alt=""--> 
            <div class="container">
                <div class="signup-content">
                    <form action="/home" method="POST">
                        <div class="container">
                            <label for="email"><b>Email</b></label>
                            <input type="text" placeholder="Enter Email" name="email" id="email" required>
                        
                            <label for="psw"><b>Password</b></label>
                            <input type="password" placeholder="Enter Password" name="psw" id="psw" required>
                      
                          <button type="submit">Login</button>
                          <label>
                              <br>
                            <input type="checkbox" checked="checked" name="remember"> Remember me>
                          </label>
                            <br>
                            <br>
                            <button type="button" class="cancelbtn">Cancel</button>
                            <br>
                            {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                <ul class=flashes>
                                {% for message in messages %}
                                <li>{{ message }}</li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                            {% endwith %}
                            <br>
                            <span class="psw">Forgot <a href="#">password?</a></span>
                        </div>
                      
                      </form>
                </div>
            </div>

    </div>
</div>
</center>
</body>
</html>
